
<p id ="cweek">Selected week is <%= @current_week%></p>
<% @activistas.each do |key, value| %>
  <tr>
    <td><%= key %></td>
    <td><%= value[0] %></td>
    <td><%= value[1] %></td>
    <td><%= value[2] %></td>
  </tr>
<% end %>